@model List<TagViewModel>;


<div class="container">

  <div class="row header-slider">
    <div class="col-sm-12">
      <a class="slider-header-title" asp-controller="Style" asp-action="Index">
        سبک ها
      </a>
      <a class="show-all-slider btn" asp-controller="Style" asp-action="Index"> نمایش همه</a>
    </div>
  </div>

  <div class="row position-relative">

    <a style="" class="slider-left-arrow styleNextBtn">
      <i class="fas fa-chevron-left"></i>
    </a>

    <a style="" class="slider-right-arrow stylePrevBtn">
      <i class="fas fa-chevron-right"></i>
    </a>

    <div class="owl-carousel owl-theme home-style-slider col-sm-12">

      @foreach (var s in Model.ToList())
      {
        <div>
          <a asp-controller="Style" asp-action="Detail" asp-route-id="@s.Id">
            <img src="/content/files/tag/@s.Thumbnail" />
            <div class="style-title">
              @s.Title
            </div>
          </a>
        </div>
      }
    </div>

  </div>
</div>